:root {
  --black: #191919;
  --gray: #FFFFFF11;
  --white: #F0F0F0;
  --red: #750E21;
  --orange: #E3651D;
  --yellow: #BED754;
  --border-radius: 30px;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:hover {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 20px;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding-top: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 1000;

  > div {
    box-shadow: 0 0 3em 1em var(--gray);
    width: 75%;
    text-align: center;
    margin: 0 auto;
    border-radius: 100px;
    padding: 2em;
    background-color: #38384283;
  }
}
  
  

main {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

.timeline {
  max-width: 40em;
  margin: 5em auto;
  height: auto;
  transform: translateY(5em);

  &::before {
    content: '';
    background-color: var(--white);
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(0 0 0.5em var(--white));
  }
}

.checkpoint {
  max-width: 34em;
  padding: 2em 0;
  position: relative;
  z-index: 1000;

  > div {
    border: 2px solid var(--gray);
    border-radius: var(--border-radius);
    padding: 1.5em;
    box-shadow: none;
    transition: box-shadow 0.3s ease-out;

    &:hover {
      box-shadow: 0 0 1em 10px var(--gray);
    }

    > h2 {
      margin-bottom: 1em;
    }

    > p {
      line-height: 25px;
      text-align: justify;
      word-break: keep-all;
      overflow-wrap: normal;
    }
  }

  &:nth-child(odd) {
    border-left: 3px solid var(--gray);
    padding-left: 3em;
    transform: translateX(18.5em);
  }

  &:nth-child(even) {
    border-right: 3px solid var(--gray);
    padding-right: 3em;
    transform: translateX(-18.5em);
  }

  &:nth-child(odd)::before,
  &:nth-child(even)::before {
    content: '';
    background-color: var(--gray);
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: widthLinkChange 1s ease-out;
    z-index: 999;
  }

  &:nth-child(odd)::before {
    left: 0;
  }

  &:nth-child(even)::before {
    right: 0;
  }

  &:nth-child(odd)::after,
  &:nth-child(even)::after {
    content: '';
    background-color: var(--white);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    opacity: .8;
    filter: drop-shadow(0 0 0.5em var(--white));
    position: absolute;
    top: 50%;
    animation: dotScale 1s ease-out;
  }

  &:nth-child(odd)::after {
    left: 0;
    transform: translate(-50%, -50%);
    transform-origin: left center;
  }

  &:nth-child(even)::after {
    right: 0;
    transform: translate(50%, -50%);
    transform-origin: right center;
  }
}


footer {
  width: 100%;
  text-align: center;
  padding: 2em 0;
  display: none;
}

/* Keyframes */

@keyframes widthLinkChange {
  0% {
    width: 0;
  }
  100% {
    width: 3em;
  }
}

@keyframes dotScale {
  0%, 100% {
    scale: 1;
  }
  60% {
    scale: 1.5;
  }
}
